$spaceamounts: (
  0,
  1,
  2,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  14,
  15,
  16,
  18,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  30,
  32,
  34,
  36,
  38,
  40,
  42,
  44,
  48,
  50,
  60,
  62,
  70,
  72,
  80,
  87,
  90,
  100,
  120,
  150,
  200
); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{$side}-#{$space} {
      margin-#{$side}: #{$space}px;
    }

    .p-#{$side}-#{$space} {
      padding-#{$side}: #{$space}px;
    }
  }
}

.w-s {
  &-nw {
    white-space: nowrap;
  }
}

.trs {
  transition: $trs;
}

.f-w {
  &-l {
    font-weight: lighter;
  }
  &-100 {
    font-weight: 100;
  }
  &-200 {
    font-weight: 200;
  }
  &-300 {
    font-weight: 300;
  }
  &-400 {
    font-weight: 400;
  }
  &-n {
    font-weight: normal;
  }
  &-500 {
    font-weight: 500;
  }
  &-600 {
    font-weight: 600;
  }
  &-700 {
    font-weight: 700;
  }
  &-800 {
    font-weight: 800;
  }
  &-900 {
    font-weight: 900;
  }
  &-b {
    font-weight: bold;
  }
  &-br {
    font-weight: bolder;
  }
}

.t-a {
  &-c {
    text-align: center;
  }

  &-r {
    text-align: right;
  }

  &-l {
    text-align: left;
  }

  &-j {
    text-align: justify;
  }
}

.t-t {
  &-u {
    text-transform: uppercase;
  }

  &-c {
    text-transform: capitalize;
  }

  &-l {
    text-transform: lowercase;
  }
}

.u-s {
  &-t {
    user-select: text;
  }

  &-n {
    user-select: none;
  }
}

.w {
  &-full {
    width: 100%;
  }
}

.a-s {
  &-s {
    align-self: flex-start;
  }

  &-c {
    align-self: center;
  }

  &-e {
    align-self: flex-end;
  }
}

.a-i {
  &-s {
    align-items: flex-start;
  }

  &-c {
    align-items: center;
  }

  &-e {
    align-items: flex-end;
  }
}

.j-s {
  &-s {
    justify-self: flex-start;
  }

  &-c {
    justify-self: center;
  }

  &-e {
    justify-self: flex-end;
  }
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.f-d {
  &-c {
    flex-direction: column;
  }
}

.j-c {
  &-s-b {
    justify-content: space-between;
  }
}

.b-radius {
  &-full {
    border-radius: 100%;
  }
}
